:root {
  --bg-color: #eff4f9;
  --hd-color: #f2f2f2;
  --blue-light: #447bcb;
  --blue-dark: #246b97;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color);
  color: #333;
  font-family: 'Noto Sans', sans-serif;
}

header {
  position: sticky;
  background-color: aquamarine;
  top: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  color: white;
}

.nav-menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.nav-container a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  border-bottom: 1px solid transparent;
  margin: 0.5em;
}

.nav-container a:hover {
  border-bottom: 1px solid black;
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.welcome h1 {
  font-family: 'Poiret One', cursive;
  font-size: 3.5rem;
  text-transform: uppercase;
}

section h2 {
  color: var(--blue-light);
  width: 100%;
  font-size: 2rem;
  text-align: center;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  max-width: 300px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 0.5em;
  margin: 1em;
  border-radius: 5px;
}

.project h3 {
  color: var(--blue-dark);
  text-align: center;
}

.project img {
  margin-top: 0.3em;
  max-width: 100%;
}

.project a {
  display: inline-block;
  background-color: var(--blue-dark);
  color: white;
  text-decoration: none;
  padding: 0.2em 0.4em;
  border-radius: 5px;
  transition: all ease-in-out 0.2s;
}

.project a:hover {
  background-color: var(--blue-light);
}

.project a:active {
  background-color: black;
}
