:root {
  /* fonts */
  --ff-primary: 'Montserrat', sans-serif;
  --ff-secondary: 'Major Mono Display', monospace;

  /* color */
  --clr-primary: #101820ff;
  --clr-secondary: #122e43;
  --clr-accent: #fee715ff;

  --clr-light: #f8f8ff;
  --clr-dark: black;

  /* font size */
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --ff-body: 1rem;
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --ff-body: 1.25rem;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--clr-primary);
  color: var(--clr-light);
  font-family: var(--ff-primary);
  font-size: var(--ff-body);
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3 {
  line-height: 1.1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

header {
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 1em 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}

.nav-list {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  margin: 0;
}

.nav-list li:first-child {
  flex-grow: 1;
}

.nav-item {
  text-decoration: none;
  color: var(--clr-light);
  font-size: 1rem;
  border-bottom: 1px solid transparent;
  margin: 0.2em;
}

.nav-item:hover {
  color: var(--clr-accent);
}

.logo {
  font-family: var(--ff-secondary);
  font-size: 2rem;
}

section {
  margin-top: 2em;
}

/*Welcome section*/
.welcome {
  position: relative;
}

.welcome-title {
  font-family: var(--ff-secondary);
  font-weight: 400;
}

.welcome-title span {
  display: block;
}

.welcome-subtitle {
  font-size: var(--fs-h3);
  background-color: var(--clr-accent);
  margin: 1em 0;
  padding: 0.5em 1em;
  color: black;
}

.welcome-image {
  box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25);
}

@media (min-width: 600px) {
  .welcome {
    display: grid;
    width: min-content;
    margin: 2em auto;
    column-gap: 1em;
    grid-template-areas: 'img title' 'img subtitle';
    grid-template-columns: min-content max-content;
  }
  .welcome-image {
    grid-area: img;
    min-width: 350px;
    position: relative;
    z-index: 2;
  }

  .welcome-subtitle {
    text-align: right;
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
  }
}

section h2 {
  width: 100%;
  text-align: center;
}

/*Project section*/

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  max-width: 300px;
  background-color: #f8f8ff;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.project p {
  flex-grow: 1;
}

.links {
  width: 100%;
  margin-top: 1rem;
  justify-self: flex-end;
}

.project h3 {
  text-align: center;
}

.project img {
  margin-top: 0.3em;
}

.project a {
  display: inline-block;
  background-color: var(--clr-accent);
  box-shadow: 0.2em 0.2em 0 black;
  color: black;
  text-decoration: none;
  padding: 0.2em 0.4em;
  border-radius: 5px;
  transition: all ease-in-out 0.3s;
}

.project a:hover {
  box-shadow: 0.25em 0.25em 0 black;
  transform: translateY(-0.1em);
}

.project a:active {
  box-shadow: inset 0.1em 0.25em 0.2em black;
  transform: translateY(0.2em);
}

.contact > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact a {
  color: var(--clr-light);
  text-decoration: none;
}

.contact i {
  font-size: 2rem;
  margin: 0.2em 0.3em;
}

.contact i:hover {
  color: var(--ligth-text);
}

footer {
  text-align: center;
  padding: 2em 0;
  font-size: 0.8rem;
}
